body {
    font-family: Arial;
    padding: 20px;
}

.product-list {
    display: flex;
    gap: 20px;
}

.product {
    border: 1px solid #318732;
    padding: 15px;
    width: 200px;
    text-align: center;
}

.product img {
    width: 100%;
}

button {
    background: #e53935;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

button:hover {
    background: #c62828;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 3px solid #51bc78;
    padding: 10px;
    text-align: center;
}

.cart-link {
    display: inline-block;
    margin-top: 20px;
    font-weight: bold;
}
.customer-box,
.payment-box {
  max-width: 600px;
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #54b076;
  border-radius: 6px;
  background: #51bc78;
}

.customer-box h3,
.payment-box h3 {
  margin-bottom: 10px;
  color: #222;
}

.customer-box input,
.customer-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.customer-box textarea {
  height: 80px;
  resize: none;
}
/* ===== HEADER SHOP ===== */
.shop-header {
  background: #b4e7b4;
  border-bottom: 1px solid #e5e5e5;
}

.header-container {
  max-width: 1200px;
  margin: auto;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 22px;
  font-weight: bold;
  color: #288955;
  text-decoration: none;
}

.menu a {
  margin-left: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 500;
}

.menu a:hover,
.menu a.active {
  color: #28a745;
}

/* ===== TITLE PAGE ===== */
.page-title {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.page-title h1 {
  font-size: 40px;
  margin-bottom: 5px;
}

.page-title p {
  color: #666;
  font-size: 16px;
}
